<script type="text/x-template" id="game-page-template">
    <div class="main-content" :style="{ backgroundImage: 'url(' + game?.bg + ')' }">
        <div class="overlay" v-if="game">
            <div class="game-info">
                <h1 class="game-logo-text">{{ game.name }}</h1>
                <p class="game-desc">{{ game.desc }}</p>
                <div class="action-area">
                    <button class="btn-play" :style="{ backgroundColor: btnColor }" @@click="$emit('action', game)">
                        <i :class="btnIcon"></i> {{ btnText }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>