<script type="text/x-template" id="login-modal-template">
    <div class="modal-overlay" v-if="show" @@click.self="$emit('close')">
        <div class="login-card">
            <h2>ĐĂNG NHẬP</h2>
            <button class="btn-discord-login" @@click="doLogin">
                <i class="fa-brands fa-discord"></i> Kết nối Discord
            </button>
            <button class="btn-close" @@click="$emit('close')">Đóng</button>
        </div>
    </div>
</script>