<script type="text/x-template" id="sidebar-template">
    <div class="sidebar">
        <div class="sidebar-top">
            <div class="app-logo"><img src="/logo.png" /></div>
            <div v-for="g in games" 
                 :key="g.id" 
                 class="game-icon"
                 :class="{ active: modelValue?.id === g.id }"
                 :style="{ backgroundImage: 'url(' + g.icon + ')' }"
                 @@click="$emit('update:modelValue', g)">
            </div>
        </div>
        <div class="sidebar-bottom">
            <div class="sidebar-item discord-btn" @@click="$emit('open-login')">
                <i class="fa-brands fa-discord"></i>
            </div>
            <div class="sidebar-item settings-btn" @@click="$emit('open-settings')">
                <i class="fa-solid fa-sliders"></i>
            </div>
        </div>
    </div>
</script>